body {
    background-color: #1f1f1f;
}

header {
    width: 100%;
    height: 200px;
    background-color: #1f1f1f;
    position: relative;
    margin-bottom: 25px;
}

.nav-header {
    position: absolute;
    top: 50%;
    left: 52%;
    translate: -50% -50%;
}

.nav-header li {
    display: inline;
}

.nav-header button {
    background-color: transparent;
    border: none;
    margin: 5px 40px 5px 40px;
    cursor: pointer;
}

.nav-header a {
    color: white;
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
}

.nav-header button:hover {
    opacity: 50%;
}

.nav-header img {
    height: 200px;
    width: 200px;
    position: absolute;
    top: -78px;
    left: -40%;
}

@media all and (max-width: 1320px) {
    .nav-header button {
        margin: 5px 25px 5px 25px;
    }

    .nav-header a {
        font-size: 25px;
    }

    .nav-header img {
        height: 150px;
        width: 150px;
        top: -50px;
        left: -50%;
    }
}

@media all and (max-width: 1000px) {
    .nav-header button {
        margin: 5px 15px 5px 15px;
    }

    .nav-header a {
        font-size: 20px;
    }

    .nav-header img {
        height: 125px;
        width: 125px;
        left: -45%;
    }
}

@media all and (max-width: 760px) {
    .nav-header button {
        margin: 5px 50px 5px 50px;
    }

    .nav-header img {
        top: -35px;
    }
}

@media all and (max-width: 650px) {
    .nav-header img {
        top: -10px;
    }
}

main {
    height: 100vh;
    padding-top: 50px;
    border-top: solid 5px;
    border-color: white;
}




/* home  */
.home-container {
    width: 60%;
    margin: 0 auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.home-container img {
    position: absolute;
}

.intro-rad,
.intro-krok,
.intro-dobbelsteen {
    width: 100%;
    max-height: 300px;
    margin-bottom: 50px;
    position: relative;
}

.intro-rad a,
.intro-krok a,
.intro-dobbelsteen a {
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    color: white;
}

.intro-rad p,
.intro-krok p,
.intro-dobbelsteen p {
    width: 50%;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
}

@media all and (max-width: 1200px) {

    .intro-rad p,
    .intro-krok p,
    .intro-dobbelsteen p {
        font-size: 20px;
    }
}

@media all and (max-width: 550px) {

    .intro-rad p,
    .intro-krok p,
    .intro-dobbelsteen p {
        font-size: 15px;
    }
}

.intro-rad img {
    scale: 0.12;
    top: -1100px;
    right: -1050px;
    z-index: -1;
}

.intro-krok img {
    scale: 0.18;
    top: -550px;
    right: -600px;
    z-index: -1;
}

.intro-dobbelsteen img {
    scale: 0.5;
    top: -50px;
    right: 0;
    z-index: -1;
}

@media all and (max-width: 1320px) {
    .intro-rad img {
        scale: 0.1;
    }

    .intro-krok img {
        scale: 0.15;
    }

    .intro-dobbelsteen img {
        scale: 0.5;
    }
}

@media all and (max-width: 1200px) {
    .intro-rad img {
        scale: 0.07;
        top: -1150px;
    }

    .intro-krok img {
        scale: 0.12;
        top: -600px;
    }

    .intro-dobbelsteen img {
        scale: 0.4;
        top: -100px;
    }
}

@media all and (max-width: 850px) {
    .intro-rad img {
        scale: 0.06;
        top: -1100px;
        right: -1200px;
    }

    .intro-krok img {
        scale: 0.09;
        top: -550px;
        right: -750px;
    }

    .intro-dobbelsteen img {
        scale: 0.3;
        top: -80px;
        right: -150px;
    }
}





/* krokodil */
.krok-container {
    width: 100%;
    color: white;
    position: relative;
}

.krok-container h2 {
    font-size: 300px;
    font-family: 'Bebas Neue', sans-serif;
    position: absolute;
    top: 30%;
    left: 38%;
    z-index: 2;
    display: none;
}

.play {
    width: 125px;
    height: 125px;
    border: none;
    border-radius: 50%;
    background-color: #4bad33;
    margin-top: 50px;
    margin-left: 46%;
    cursor: pointer;
    z-index: 1000;
}

.play:hover {
    opacity: 75%;
}

.krokDicht {
    margin: -300px auto 0 auto;
    display: block;
    scale: 0.5;
}

.krokOpen {
    position: relative;
}

.krokOpenImg {
    margin: -500px auto 0 auto;
    display: none;
    scale: 0.5;
}

/* tanden  */
.tanden {
    display: none;
}

.tanden img {
    scale: 2;
}

.tand1,
.tand2,
.tand3,
.tand4,
.tand5,
.tand6,
.tand7,
.tand8,
.tand9,
.tand10,
.tand11,
.tand12,
.tand13,
.tand14,
.tand15,
.tand16,
.tand17,
.tand18,
.tand19,
.tand20 {
    border: none;
    border-radius: 50%;
    position: absolute;
}

/* tanden onder  */
/* desktop  */
.tand1 {
    top: 54%;
    left: 34%;
}

.tand2 {
    top: 59%;
    left: 34%;
}

.tand3 {
    top: 64%;
    left: 34.5%;
}

.tand4 {
    top: 68.5%;
    left: 36.5%;
}

.tand5 {
    top: 69.5%;
    left: 53%;
}

.tand6 {
    top: 69.5%;
    left: 44%;
}

.tand7 {
    top: 68.5%;
    left: 60%
}

.tand8 {
    top: 64%;
    left: 62.5%;
}

.tand9 {
    top: 59%;
    left: 63%;
}

.tand10 {
    top: 54%;
    left: 63%;
}

/* tanden boven  */
.tand11 {
    top: 47%;
    left: 34%;
}

.tand12 {
    top: 42%;
    left: 34%;
}

.tand13 {
    top: 37%;
    left: 34.5%;
}

.tand14 {
    top: 32.5%;
    left: 36.5%;
}

.tand15 {
    top: 31%;
    left: 53%;
}

.tand16 {
    top: 31%;
    left: 44%;
}

.tand17 {
    top: 32.5%;
    left: 60%
}

.tand18 {
    top: 37%;
    left: 62.5%;
}

.tand19 {
    top: 42%;
    left: 63%;
}

.tand20 {
    top: 47%;
    left: 63%;
}

/* 11 & XR */
@media all and (max-width: 415px) {
    .krok-container h2 {
        font-size: 100px;
        top: 30%;
        left: 36%;
    }

    .play {
        width: 75px;
        height: 75px;
        margin-left: 40%;
    }

    .krok-container img {
        scale: 0.2;
    }

    .krokDicht {
        margin: -500px 0 0 -600px;
    }

    .krokOpenImg {
        margin: -850px 0 0 -460px;
    }

    .tanden img {
        scale: 0.8;
    }

    .tand1 {
        top: 51%;
        left: 22%;
    }

    .tand2 {
        top: 53%;
        left: 22%;
    }

    .tand3 {
        top: 55%;
        left: 23%;
    }

    .tand4 {
        top: 56.5%;
        left: 30%;
    }

    .tand5 {
        top: 57%;
        left: 41%;
    }

    .tand6 {
        top: 57%;
        left: 52%;
    }

    .tand7 {
        top: 56.5%;
        left: 62%
    }

    .tand8 {
        top: 55%;
        left: 68.5%;
    }

    .tand9 {
        top: 53%;
        left: 69%;
    }

    .tand10 {
        top: 51%;
        left: 69%;
    }

    .tand11 {
        top: 48%;
        left: 22%;
    }

    .tand12 {
        top: 46%;
        left: 22%;
    }

    .tand13 {
        top: 44%;
        left: 23%;
    }

    .tand14 {
        top: 42.5%;
        left: 30%;
    }

    .tand15 {
        top: 42%;
        left: 41%;
    }

    .tand16 {
        top: 42%;
        left: 52%;
    }

    .tand17 {
        top: 42.5%;
        left: 62%
    }

    .tand18 {
        top: 44%;
        left: 68.5%;
    }

    .tand19 {
        top: 46%;
        left: 69%;
    }

    .tand20 {
        top: 48%;
        left: 69%;
    }
}

/* 12, 12 Pro, 13, 13 Pro, 14 en 14 Pro */
@media all and (max-width: 391px) {
    .krok-container h2 {
        font-size: 100px;
        top: 30%;
        left: 38%;
    }

    .play {
        width: 75px;
        height: 75px;
        margin-left: 40%;
    }

    .krok-container img {
        scale: 0.2;
    }

    .krokDicht {
        margin: -500px 0 0 -615px;
    }

    .krokOpenImg {
        margin: -850px 0 0 -480px;
    }

    .tanden img {
        scale: 0.8;
    }

    .tand1 {
        top: 51%;
        left: 19%;
    }

    .tand2 {
        top: 53%;
        left: 19%;
    }

    .tand3 {
        top: 55%;
        left: 20%;
    }

    .tand4 {
        top: 56.5%;
        left: 27%;
    }

    .tand5 {
        top: 57%;
        left: 38%;
    }

    .tand6 {
        top: 57%;
        left: 49%;
    }

    .tand7 {
        top: 56.5%;
        left: 60%
    }

    .tand8 {
        top: 55%;
        left: 66.5%;
    }

    .tand9 {
        top: 53%;
        left: 67%;
    }

    .tand10 {
        top: 51%;
        left: 67%;
    }

    .tand11 {
        top: 48%;
        left: 19%;
    }

    .tand12 {
        top: 46%;
        left: 19%;
    }

    .tand13 {
        top: 44%;
        left: 20%;
    }

    .tand14 {
        top: 42.5%;
        left: 27%;
    }

    .tand15 {
        top: 42%;
        left: 38%;
    }

    .tand16 {
        top: 42%;
        left: 49%;
    }

    .tand17 {
        top: 42.5%;
        left: 60%
    }

    .tand18 {
        top: 44%;
        left: 66.5%;
    }

    .tand19 {
        top: 46%;
        left: 67%;
    }

    .tand20 {
        top: 48%;
        left: 67%;
    }
}

/* SE, 6, 6s,7 en 8 */
@media all and (max-width: 376px) {
    .krok-container h2 {
        font-size: 100px;
        top: 30%;
        left: 38%;
    }

    .play {
        width: 75px;
        height: 75px;
        margin-left: 40%;
    }

    .krok-container img {
        scale: 0.2;
    }

    .krokDicht {
        margin: -500px 0 0 -615px;
    }

    .krokOpenImg {
        margin: -850px 0 0 -480px;
    }

    .tanden img {
        scale: 0.8;
    }

    .tand1 {
        top: 51%;
        left: 20%;
    }

    .tand2 {
        top: 53%;
        left: 20%;
    }

    .tand3 {
        top: 55%;
        left: 21%;
    }

    .tand4 {
        top: 56.5%;
        left: 28%;
    }

    .tand5 {
        top: 57%;
        left: 39%;
    }

    .tand6 {
        top: 57%;
        left: 51.5%;
    }

    .tand7 {
        top: 56.5%;
        left: 63%
    }

    .tand8 {
        top: 55%;
        left: 69.5%;
    }

    .tand9 {
        top: 53%;
        left: 70%;
    }

    .tand10 {
        top: 51%;
        left: 70%;
    }

    .tand11 {
        top: 48%;
        left: 20%;
    }

    .tand12 {
        top: 46%;
        left: 20%;
    }

    .tand13 {
        top: 44%;
        left: 21%;
    }

    .tand14 {
        top: 42.5%;
        left: 28%;
    }

    .tand15 {
        top: 42%;
        left: 39%;
    }

    .tand16 {
        top: 42%;
        left: 51.5%;
    }

    .tand17 {
        top: 42.5%;
        left: 62%
    }

    .tand18 {
        top: 44%;
        left: 69.5%;
    }

    .tand19 {
        top: 46%;
        left: 70%;
    }

    .tand20 {
        top: 48%;
        left: 70%;
    }
}

/* rad  */
.rad-container {
    position: relative;
}

.arrow {
    scale: 0.4;
    position: absolute;
    left: 48%;
    margin-top: -10px;
    z-index: 1;
}

.rad {
    scale: 0.25;
    position: absolute;
    left: -22%;
    margin-top: -55%;
}

/* 11 & XR */
@media all and (max-width: 415px) {
    .arrow {
        scale: 0.4;
        left: 33%;
        margin-top: -10px;
    }

    .rad {
        scale: 0.15;
        left: -251%;
        margin-top: -248%;
    }
}

/* 12, 12 Pro, 13, 13 Pro, 14 en 14 Pro */
@media all and (max-width: 391px) {
    .arrow {
        scale: 0.4;
        left: 33%;
        margin-top: -10px;
    }

    .rad {
        scale: 0.15;
        left: -269%;
        margin-top: -260%;
    }
}

/* SE, 6, 6s,7 en 8 */
@media all and (max-width: 376px) {
    .arrow {
        scale: 0.4;
        left: 33%;
        margin-top: -10px;
    }

    .rad {
        scale: 0.12;
        left: -281%;
        margin-top: -280%;
    }
}





/* pubquiz  */






/* dobbelsteen  */
.dobbel-container {
    position: relative;
}

.dobbel1,
.dobbel2,
.dobbel3,
.dobbel4,
.dobbel5,
.dobbel6 {
    margin-top: 300px;
    position: absolute;
    left: 50%;
    translate: -50% -50%;
    transition: 1s ease-out;
}

.dobbel1 {
    top: 50%;
}

.dobbel2,
.dobbel3,
.dobbel4,
.dobbel5,
.dobbel6 {
    top: -1000px;
}

@media all and (max-width: 415px) {
   .dobbel1, .dobbel2,
.dobbel3,
.dobbel4,
.dobbel5,
.dobbel6 {
    scale: 0.6;
}
}